{% extends 'layout.html' %}

{% block body %}
      <h1>Похожие квесты v0.2</h1>
      <p>Это приложение подберет для вас указанное число квестов, похожих на заданный.
        Чтобы получить рекомендацию, пожалуйста, выберите название квеста из списка и укажите число рекомендованных квестов. (Чтобы найти нужный квест в списке можно, раскрыв список, начать набирать название квеста)
      </p>
      <p>{{ errmsg }}</p>
    <form method="POST">
          {{ form.questname.label }}<br>
          {{ form.questname }}<br>
          {{ form.number.label }}<br>
          {{ form.number }}<br>
          <br>
          <font color="red">{{ form.hidden_tag() }}</font>
        {{ form.submit }}
        <br>
    </form>
{% endblock %}
