{% extends 'layout.html' %}

{% block body %}
      <h1>Похожие квесты v0.2</h1>
      <p>Это приложение подберет для вас указанное число квестов, похожих на заданный.
        Чтобы получить рекомендацию, пожалуйста, укажите название квеста и число рекомендованных квестов в форме ниже.
      </p>
      <p>{{ errmsg }}</p>
    <form method="POST">
          {{ form.questname.label }}<br>
          {{ form.questname }}<br>
          {{ form.number.label }}<br>
          {{ form.number }}<br>
          <br>
          <font color="red">{{ form.hidden_tag() }}</font>
        {{ form.submit }}
        <br>
    </form>
{% endblock %}
