<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Гильдия Квестов</title>
  </head>
  <body>
      <h1>Похожие квесты v0.1</h1>
      <p>Это приложение подберет для вас указанное число квестов, похожих на заданный..
        Чтобы получить рекомендацию, пожалуйста, укажите название квеста и число рекомендованных квестов в форме ниже. Названия всех квестов приведены ниже для справки.
      </p>
    <form method="POST">
        <p>
            Название квеста:<br>
            <input type="text" name="questname" value="Амок">
            <br>
            Показать столько похожих квестов (число от 0 до 460):<br>
            <input type="text" name="number" value="7">
        </p>
        <input type="submit" value="Submit">
        <p>Нажимая кнопку "submit" вы принимаете жизнь, как череду испытаний необходимых для вашей эволюции</p>
        <p></p>
        <p></p>
        <h3>Названия квестов (для справки):</h3>
        <p> Сингулярность </p>
        <p> Золото Майя </p>
        <p> Обитель зла </p>
        <p> Вектор 61 </p>
        <p> Люди в черном: переполох в Чайнатауне </p>
        <p> Легенда о тамплиере </p>
        <p> Перед входом - прощайтесь </p>
        <p> Паноптикум </p>
        <p> Арт-квест "Мистерион" </p>
        <p> City Z </p>
        <p> Zombieland 2 </p>
        <p> Игра до смерти </p>
        <p> Вий </p>
        <p> Мастер и Маргарита </p>
        <p> Игра престолов: Красная королева </p>
        <p> Лоботомия </p>
        <p> Ганнибализм </p>
        <p> Бункер маньяка </p>
        <p> Голод </p>
        <p> Возвращение терминатора </p>
        <p> Пекло </p>
        <p> Машина времени </p>
        <p> Silent Hill. Private Story </p>
        <p> Пещера Вуду </p>
        <p> Остаться в живых </p>
        <p> Не вам меня судить </p>
        <p> Зазеркалье </p>
        <p> Заключительный акт </p>
        <p> Подпольное казино. </p>
        <p> Школа шпионов Kingsman </p>
        <p> Подвалы Маркиза де Сада </p>
        <p> АВАТАР начало </p>
        <p> Бункер 2048 </p>
        <p> Секретный пациент </p>
        <p> Мальчишник </p>
        <p> Поворот не туда 2 </p>
        <p> Шизофрения </p>
        <p> Операция АВАЛОН </p>
        <p> Вкус Риска </p>
        <p> Реминискорум: Пиковая Дама </p>
        <p> Корабль Смерти </p>
        <p> Сайлент Хэлл </p>
        <p> Особняк с привидениями-2 </p>
        <p> Проект PSYCHO </p>
        <p> Корпоратив Госпром </p>
        <p> Лёд и Пламя </p>
        <p> Симпсоны в реальности </p>
        <p> Стальной разум </p>
        <p> Поставщики смерти </p>
        <p> Афера по-испански </p>
        <p> Люди Льда </p>
        <p> Шёпот 2. Изгнание </p>
        <p> Десять негритят </p>
        <p> Константин </p>
        <p> Эсхатология: Сердце Ангела </p>
        <p> Сверхъестественное </p>
        <p> Контрабанда </p>
        <p> Лара Крофт </p>
        <p> Пути к отступлению </p>
        <p> Номер Глории </p>
        <p> Побег с Марса </p>
        <p> Западня Гарри Гудини  </p>
        <p> Inferno. Возрождение </p>
        <p> Тайны Гравити Фолз </p>
        <p> Пожарная Часть </p>
        <p> Пропавшие в лесу </p>
        <p> Черные зеркала </p>
        <p>  Пиковая дама, приди! </p>
        <p> Мумия: зловещее пророчество </p>
        <p> Исходный код </p>
        <p> Ловец снов </p>
        <p> Приват </p>
        <p> Логово </p>
        <p> Эпидемия </p>
        <p> Стимпанк: Дирижабль </p>
        <p> Обитель  </p>
        <p> Валак </p>
        <p> Диверсанты в тылу врага </p>
        <p> Логово Мафии </p>
        <p> Мушкетеры в замке Кардинала </p>
        <p> Баба Яга </p>
        <p> Подпольная лаборатория </p>
        <p> Пациент </p>
        <p> Лихие 90-е </p>
        <p> Джокер против всех </p>
        <p> Эксперимент </p>
        <p> Помни </p>
        <p> Гарри Поттер Подземелье Слизерина </p>
        <p> Что тебе снится? </p>
        <p> Зеркала </p>
        <p> Тайна побега </p>
        <p> 72 метра под водой </p>
        <p> Золото пиратов </p>
        <p> Женщины с Венеры </p>
        <p> Контакт </p>
        <p> Петля </p>
        <p> 1408. Отель "Дельфин" </p>
        <p> Screamed Quest 2 </p>
        <p> Alive </p>
        <p> Обитель зла </p>
        <p> ELSA </p>
        <p> Цитадель 117 </p>
        <p> Премьера для Премьера </p>
        <p> Сонный паралич </p>
        <p> Сверхъестественное </p>
        <p> Красный дракон </p>
        <p> Сокровища Мумии </p>
        <p> Алиса </p>
        <p> Туртурион </p>
        <p> Вий </p>
        <p> Проклятие бога сна: в объятиях Морфея </p>
        <p> Корабль-призрак </p>
        <p> ПСИХОЗ  </p>
        <p> Пираты Карибского Моря. Проклятие Черной жемчужины </p>
        <p> Арабская ночь </p>
        <p> Сокровища Майя </p>
        <p> Сокровище нации </p>
        <p> Игры разума </p>
        <p> Мясник из Майями </p>
        <p> Побег </p>
        <p> Секретное расследование </p>
        <p> Погребенный заживо </p>
        <p> День выборов  </p>
        <p> Я легенда </p>
        <p> Жмурки. Прятки в темноте </p>
        <p> Квартира Жанны Агузаровой  </p>
        <p> Проклятие Ведьмы </p>
        <p> Пила </p>
        <p> Стражи галактики </p>
        <p> Гостиничный номер 1408 </p>
        <p> Жара </p>
        <p> Вуду </p>
        <p> Прятки в темноте </p>
        <p> Жилец </p>
        <p> Не тот цирк </p>
        <p> Чужой </p>
        <p> Люди в черном </p>
        <p> Стражи галактики </p>
        <p> Ограбление "Века" </p>
        <p> Дом Восковых Фигур </p>
        <p> Склеп </p>
        <p> Сокровища Дракулы </p>
        <p> Инквизиция </p>
        <p> Алхимик. Месть Франкенштейна </p>
        <p> Город грехов </p>
        <p> 29 недель спустя </p>
        <p> Опасная игра </p>
        <p> Принц Персии </p>
        <p> ГЕКСА </p>
        <p> Миньоны </p>
        <p> Последний пепелац </p>
        <p> Перфоманс 21 </p>
        <p> Черная метка </p>
        <p> Инстинкт </p>
        <p> Интерстеллар </p>
        <p> Рекруты МИ6 </p>
        <p> Карантин ин да Хаус </p>
        <p> 12 стульев </p>
        <p> Симпсоны </p>
        <p> Общага МГУ </p>
        <p> От заката до рассвета </p>
        <p> Арт Квест Алиса </p>
        <p> Кошмар Фредди </p>
        <p> Таинственный остров Бермудского Треугольника </p>
        <p> Загадочное исчезновение </p>
        <p> Путешествие в изумрудный город </p>
        <p> Эхо </p>
        <p> Время </p>
        <p> Портал </p>
        <p> За Гранью </p>
        <p> Индиана Джонс и храм иллюминатов </p>
        <p> Магия Кино </p>
        <p> Унесенные призраками </p>
        <p> Призрак </p>
        <p> Эротическое приключение </p>
        <p> Музей (Проникновение в хранилище) </p>
        <p> Восторг (Подводный город) </p>
        <p> Школа магии (Последнее задание волшебника) </p>
        <p> Чаша Амазонки </p>
        <p> В поисках шестого чувства </p>
        <p> Людоед </p>
        <p> Узники Подземелья </p>
        <p> Стрип-Клуб </p>
        <p> Анубис </p>
        <p> Исполнитель желаний </p>
        <p> Тайна заброшенного храма </p>
        <p> Билет в один конец </p>
        <p> FOBOS </p>
        <p> Чистилище </p>
        <p> Лаборатория Р-053 </p>
        <p> Куб </p>
        <p> Масонский орден </p>
        <p> Покушение на царя </p>
        <p> Мафия </p>
        <p> ЗЛО </p>
        <p> Психиатрическая лечебница Dark Mind </p>
        <p> Штамм </p>
        <p> Карибский Гамбит </p>
        <p> Hell House </p>
        <p> Звёздный спецназ </p>
        <p> Белый шум </p>
        <p> Секретные материалы: проект Чужой </p>
        <p> ВОСК </p>
        <p> Миссия "Орион" </p>
        <p> Эпизод V-I. Игра вслепую </p>
        <p> ТРЕШ </p>
        <p> КлоунАДА </p>
        <p> Не добро пожаловать </p>
        <p> Машина Времени. Тайна профессора Рихтера </p>
        <p> Секретная служба Её Величества </p>
        <p> Астрал </p>
        <p> ТЕМНОТА 2.0 </p>
        <p> ЖЕСТЬ 2: Возмездие </p>
        <p> Панацея </p>
        <p> Проект Крона (Мэд Хаус приквел) </p>
        <p> Silent Hill </p>
        <p> На грани </p>
        <p> Простоквашино </p>
        <p> Альтаир 2.0 </p>
        <p> Тайный заговор </p>
        <p> Прятки в темноте 2.0 </p>
        <p> Бессонница </p>
        <p> Земля Фараонов </p>
        <p> МРАК </p>
        <p> По ту сторону </p>
        <p> Hostel - Перформанс </p>
        <p> Тактика </p>
        <p> Последнее Пророчество Нострадамуса </p>
        <p> Сны </p>
        <p> Неисправный Телепорт </p>
        <p> Почта Будущего </p>
        <p> Фотолаборатория Призрака </p>
        <p> Дети мафии: Подпольное казино </p>
        <p> Однажды в Америке </p>
        <p> MIRDAUS </p>
        <p> Бастер: Твои крики смешат меня </p>
        <p> Клуб Энигма </p>
        <p> Тайна поместья 2 </p>
        <p> Zombieland </p>
        <p> Ангел Смерти </p>
        <p> Смертельный номер </p>
        <p> За гранью чувств </p>
        <p> Нечто </p>
        <p> Либерия (Библиотека Ивана Грозного) </p>
        <p> Профессор Вуду </p>
        <p> Пятница 13 </p>
        <p> Друзья Оушена: миссия "Кубок Рубика" </p>
        <p> Самый страшный квест </p>
        <p> Другой мир </p>
        <p> Амнезия </p>
        <p> Москва 2048 </p>
        <p> Гравитация (VR квест) </p>
        <p> Тайная комната </p>
        <p> Грим  </p>
        <p> Лихие 90-е </p>
        <p> Ночной Техас </p>
        <p> Логово Вампира </p>
        <p> Последняя экскурсия </p>
        <p> Подземелья Московского Кремля </p>
        <p> Перекрёсток времени </p>
        <p> Зазеркалье </p>
        <p> Дом Беллы </p>
        <p> Шёпот </p>
        <p> Тайны Мексики </p>
        <p> Семейка Аддамс  </p>
        <p> Машина времени </p>
        <p> Супермаркет зомби </p>
        <p> Теория полураспада </p>
        <p> Бездна </p>
        <p> Гарри Поттер: Дары Смерти </p>
        <p> Потерянный сигнал </p>
        <p> Чёртовы Кости </p>
        <p> Кровавый Санта </p>
        <p> Одержимость </p>
        <p> Атлантида </p>
        <p> Пираты карибского моря </p>
        <p> Сауна </p>
        <p> Генезис. Последняя надежда </p>
        <p> Космические пилигримы </p>
        <p> Корпорация DHARMA </p>
        <p> Многоликий Билли </p>
        <p> Амок </p>
        <p> Заброшенный дом </p>
        <p> Арктический бункер </p>
        <p> Пила: искупление </p>
        <p> Питомец </p>
        <p> Корпорация Амбрелла </p>
        <p> Insania 2.0 </p>
        <p> Проклятие жрецов Майя </p>
        <p> S.T.A.L.K.E.R. Зона отчуждения </p>
        <p> Поворот не туда </p>
        <p> Последние Люди на Земле </p>
        <p> Зомби апокалипсис </p>
        <p> Смертельная вакансия </p>
        <p> Ограбление на Кутузовском </p>
        <p> Философский камень </p>
        <p> Карантин </p>
        <p> Шпионская история: Побег из посольства </p>
        <p> Мастерская Да Винчи </p>
        <p> Президентский рейс </p>
        <p> Ключ от всех дверей </p>
        <p> Ограбление коллекционера </p>
        <p> Это Rock-n-Roll </p>
        <p> Демонология </p>
        <p> Биошок </p>
        <p> Тьма </p>
        <p> Воины тени </p>
        <p> Инверсия </p>
        <p> Побег из Шоушенка </p>
        <p> Романтическое путешествие в Мулен Руж </p>
        <p> Тайна Мерилин Монро </p>
        <p> Stalker-quest </p>
        <p> Дракула: Нерассказанная история </p>
        <p> ДурДом </p>
        <p> Терминал </p>
        <p> Цена бессмертия. Ренессанс </p>
        <p> LOST. Остаться в живых </p>
        <p> Игра Престолов. 100 замков </p>
        <p> Тайна заброшенного дома </p>
        <p> Властелин Колец </p>
        <p> Жажда: дочь винодела </p>
        <p> Особняк с привидениями </p>
        <p> Wall Street: Черный вторник </p>
        <p> Из ада </p>
        <p> Игра Престолов Замок Короля </p>
        <p> Бездна </p>
        <p> Заклятие старого дома (Исчезнувшие) </p>
        <p> В поисках приключений </p>
        <p> Тайна Подсознания </p>
        <p> В Изоляции </p>
        <p> Штаб Супергероев </p>
        <p> Джокер: Загадка Аркхэма </p>
        <p> Орден Ассасинов </p>
        <p> Исчезнувшая </p>
        <p> Хоббит: тайна кольца </p>
        <p> Путь Самурая </p>
        <p> Комната охраны </p>
        <p> Корпорация монстров </p>
        <p> Проклятие Рамзеса </p>
        <p> Тайны Средневековья </p>
        <p> Сказки </p>
        <p> Демоны Коэльо </p>
        <p> Коэльо: Алхимик </p>
        <p> Тайна темного братства </p>
        <p> Потерянные во вселенной </p>
        <p> Книга жизни Леонардо да Винчи </p>
        <p> Хранилище </p>
        <p> Ловушка безумного фокусника </p>
        <p> Inferno </p>
        <p> Ядерная весна </p>
        <p> Тайна Хранителя </p>
        <p> Черепашки-ниндзя </p>
        <p> Белая комната </p>
        <p> Лаборатория Франкенштейна </p>
        <p> Агент 007 Персидская ночь  </p>
        <p> Битва за Москву </p>
        <p> Чистый разум </p>
        <p> Игра престолов (Железный трон) </p>
        <p> Мэд Хаус </p>
        <p> Марокканская тайна </p>
        <p> Квест на квадроциклах </p>
        <p> Кома </p>
        <p> Бюро охотников за привидениями </p>
        <p> Настоящий Детектив </p>
        <p> Тюремная история </p>
        <p> Бункер №1 </p>
        <p> Логово маньяка </p>
        <p> Бункер Сталина </p>
        <p> 5 жизней </p>
        <p> Ответ Гиппократа </p>
        <p> Жесть </p>
        <p> Убежище 13 </p>
        <p> Дом ведьмы </p>
        <p> Коллекционер </p>
        <p> Лабиринт </p>
        <p> Автосервис </p>
        <p> Олимпиада 2030 </p>
        <p> Пиратская Хижина </p>
        <p> Memento Mori </p>
        <p> Координация </p>
        <p> Психбольница </p>
        <p> Самоволка </p>
        <p> Джуманджи 2.0 </p>
        <p> Гробница Фараона </p>
        <p> Башня Теслы </p>
        <p> Кошмар на улице Вязов </p>
        <p> Подводная лодка (Неожиданное погружение) </p>
        <p> Адреналин </p>
        <p> Заброшенная фабрика масок </p>
        <p> Спасите Шерлока! </p>
        <p> Зона 51. Секретные материалы </p>
        <p> Операция «Starlite» </p>
        <p> Ледокол </p>
        <p> Сумеречный синдром </p>
        <p> Галеон Джейсона Кидда </p>
        <p> Алиса в стране чудес </p>
        <p> Библиотека старого масона </p>
        <p> В пасти безумия </p>
        <p> Кукловод </p>
        <p> Тёмная сила </p>
        <p> Эксперимент Х </p>
        <p> Забытая станция </p>
        <p> Ограбление Банка </p>
        <p> Запертые в хижине маньяка </p>
        <p> Китайский квартал </p>
        <p> Silent Hill </p>
        <p> История одного маньяка </p>
        <p> Идеальное ограбление </p>
        <p> Код Да Винчи </p>
        <p> Дом вверх дном </p>
        <p> Убийство в закрытой комнате </p>
        <p> Авиакатастрофа в джунглях </p>
        <p> Паранормальное явление </p>
        <p> Чернобыль </p>
        <p> За час до Чернобыля </p>
        <p> Рейс 911 </p>
        <p> На ощупь </p>
        <p> Последнее интервью </p>
        <p> Ошибка Резидента </p>
        <p> Карты, Деньги, Два стола </p>
        <p> Упавшее небо </p>
        <p> Ограбление Банка </p>
        <p> Офис лондонского детектива </p>
        <p> Подвиг разведчика </p>
        <p> Ночь в Музее </p>
        <p> Кузькина мать </p>
        <p> Зомби Апокалипсис </p>
        <p> Колыбель Кошмаров </p>
        <p> Сибирский Шейкер </p>
        <p> Уйти за 61 минуту </p>
        <p> Тайны старого театра </p>
        <p> Стимпанк Буратино </p>
        <p> Лаборатория 33 </p>
        <p> Красная кнопка </p>
        <p> Кабинет Джека Крейтона </p>
        <p> Ограбление банка </p>
        <p> Ограбление по-Мексикански </p>
        <p> Паранормальное явление </p>
        <p> Большой Куш </p>
        <p> Insane </p>
        <p> Подводная лодка </p>
        <p> Супермаркет Зомби </p>
        <p> VIP Зал Казино </p>
        <p> 7 загадок фараона </p>
        <p> FENIX </p>
        <p> Бегущий по Лезвию </p>
        <p> Игра Престолов (Семь Королевств) </p>
        <p> Темнота </p>
        <p> Пираты Карибского Моря </p>
        <p> Подвал Красовски </p>
        <p> Дежа Вю </p>
        <p> Тайна поместья </p>
        <p> Гоголевская Чертовщина </p>
        <p> Ночь в Амстердаме </p>
        <p> Диверсант </p>
        <p> Код Да Винчи </p>
        <p> Рукописи не горят </p>
        <p> Час Зомби </p>
        <p> Мышеловка для гринго </p>
        <p> Ночь страха </p>
        <p> Побег с Корабля </p>
        <p> Мумия  </p>
        <p> Последний эксперимент </p>
    </form>
  </body>
</html>
